:root{

    --azul-principal:#1f8c98;
    --coral:#f47f6b;
    --azul-claro:#d8f3f5;
    --coral-claro:#ffe3dd;
    --creme:#fff8f2;
    --texto:#26343a;
    --texto-suave:#65767d;
    --branco:#ffffff;

    --sombra:0 18px 45px rgba(31,140,152,.16);

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Nunito",sans-serif;

    background:var(--creme);

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.login-card{

    width:420px;

    background:var(--branco);

    border-radius:20px;

    padding:40px;

    box-shadow:var(--sombra);

}

.logo{

    text-align:center;

    margin-bottom:30px;

}

.logo-circle{

    width:70px;

    height:70px;

    margin:auto;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:var(--coral-claro);

    color:var(--coral);

    font-family:"Fredoka";

    font-size:24px;

    font-weight:bold;

    margin-bottom:15px;

}

.logo h1{

    font-family:"Fredoka";

    color:var(--azul-principal);

}

.logo p{

    color:var(--texto-suave);

    margin-top:8px;

}

label{

    display:block;

    margin-top:20px;

    margin-bottom:8px;

    font-weight:700;

}

input{

    width:100%;

    padding:14px;

    border-radius:10px;

    border:1px solid #ddd;

    font-size:15px;

}

input:focus{

    outline:none;

    border-color:var(--azul-principal);

}

button{

    width:100%;

    margin-top:30px;

    padding:15px;

    border:none;

    border-radius:12px;

    background:var(--azul-principal);

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#17757f;

}

#mensagem{

    text-align:center;

    color:red;

    margin-top:15px;

}
